In [2]:
#loops
#while loops
#for loops

In [7]:
#1,2,3,4,.....10

x=5;
while (x<10):  # 1<=10     2<=10 ..................11<=10      5,6,7,8,9,10,11
  print(x)     #1        #2
  x=x+1    #x=2            x=3

5
6
7
8
9

In [26]:
# 20 to 25
# even or odd   if want 10 25  10 100
x=20
#20<=40
while(x<25):   #20<25   21<25   #22<25    23<25   24<25    25<25   come out of the loop
  print(x)      #20     #21     #22       #23     #24
  x=x+1      #21      #22     #23       #24     #25

20
21
22
23
24

In [36]:
#if we want 10 to 25   10%2==0  0==0
x=10
while(x<=25):  
  x=x+1
  if (x%2==0):  #10%2==0  10/2==5  0==0   11<=25   11%2==0   1===0   11%2==1
    print(x)
    print("yes it is even number") 
  else:
    print("odd number",x)

odd number 11
12
yes it is even number
odd number 13
14
yes it is even number
odd number 15
16
yes it is even number
odd number 17
18
yes it is even number
odd number 19
20
yes it is even number
odd number 21
22
yes it is even number
odd number 23
24
yes it is even number
odd number 25
26
yes it is even number

In [39]:
# if i want sum of 4 numbers 1 to 4

x=1
sum=0
while (x<=4):   #1,2,3,4     0+1+2+3+4   0*1*2*3*4=0 1*1*2*3*4=0
    sum=sum+x
    x=x+1
print(sum)

10

In [ ]:
# x=1
# sum=0
# while(1<=4):
#     sum=0+1=1
#     x=1+1=2
# while(2<=4):
#   sum=sum1+x2=3
#   x=2+1 =3
# while(3<=4):
#   sum=3+3=6
#   x=3+1=4
# while(4<=4):
#   sum=6+4 =10
#   x=4+1=5
# while(5<=4)
#   exit out of while loop
# finally it fill print previous value of sum

In [42]:
# i wnat to print product of 1 st 3 numbers
# 1*2*3    *3*4*5*6  1*3*4*5*6   1,2,3 0+1+2+3
#0*1 =0
x=3
product=1   1*3*4*5*6
while(x<=6):
  product=product*x
  x=x+1
print(product)

360

In [ ]:
x=3
p=1
while(1<=3):
  p=1*1=1
  x=1+1=2   #p=1 x=2

while(2<=3):
  p=1*2 =2
  x=2+1 =3     #p=2 x=3

while(3<=3):
  p=2*3 =6
  x=3+1 =4   #p=6 x=4

In [49]:
i = 1
while i < 6:  #1<6       2<6    3<6         4<6      6<6  this is  false
  print(i)   #1            #2    #3          #4
  i=i+ 1      #i=1+1 =2     #i=2+1=3    #3+1   i=4+1
print("finally loop exit")

1
2
3
4
5
finally loop exit

In [53]:
# 10 to 15

i=10
while i<16:
  print(i)
  i=i+1

10
11
12
13
14
15

In [62]:
# even numbers b/n 1 to 10
x=1
while(x<=10):
   if(x%2==0):    # 1%2==0 
     print(x)      # 11111111111111111111111111111111
   x=x+1   #1,2,3,4,5....10

2
4
6
8
10

In [64]:
# i want to print odd no b/n 25 to 45

x=25
while(x<=45):
  if(x%2!=0):
    print(x)
  x=x+1

25
27
29
31
33
35
37
39
41
43
45

In [66]:
# i want to print sum of 1 to 5     1+2+3+4+5

x=1
sum=0
while(x<=5): 
  sum=sum+x   
  x=x+1
print(sum)

15

In [ ]:
# printing 1 to 5
# printing 10 to 15
# even numbers 1 10 10
# odd numbers 1 to 10
#sum of 1 to 5