In [2]:
#break and continue

#for loops
x=["apple","orange","grape","xyz"]
for i in x:
  print(i)

apple
orange
grape
xyz

In [10]:
#(start:ending:increment)   (0,6,1)   (0,6,1)
x=0
y=6   #0 to 6
for i in range(x,y,3):   #0 3 6 9 ....
  print(i)

0
3

In [11]:
#  print 0 to 7   #0,1,2,3,4,5,6,7
x=0
y=7

for i in range(x,y,1):
  print(i)

0
1
2
3
4
5
6

In [12]:
x=0
y=7

for i in range(x,y,2):
  print(i)

0
2
4
6

In [13]:
x=0
y=7

for i in range(x,y,3):
  print(i)

0
3
6

In [15]:
for i in range(0,7,3):
  print(i)

0
3
6

In [21]:
# 0 to 10
for i in range(0,11,1):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
# even numbers 1 to 10
for i in range(0,11,1):
   if(i%2==0):
     print("even",i)
   else:
    print("odd",i)

even 0
odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [39]:
# 
x=[-1,0,2,3,7,9]
print("len",len(x))     #0=-1,1=0,2=2,3=3,4=7,5=9   6 eleements
for i in range(0,len(x)-4,1):   #(0,6,1)
  print(x[i])   #x[0]=-1 x[1]= 0 x[2]=2 x[3]=3 x[4]=7 x[5]=9  x[6]    arrayname[indexname]

len 6
-1
0

In [35]:
x=[-1,0,2,3,7,9,10,23]
print(len(x))   #0=-1,1=0,2=2,3=3,4=7,5=9
for i in range(0,len(x),2):   #(0,6,1)
  print(x[i])

8
-1
2
7
10

In [45]:
# i wan

y=[-1,0,9,3,4,5,67,78,56]
n=len(y)
for i in range(0,n,1):
  print(y[i])

-1
0
9
3
4
5
67
78
56

In [46]:
y=[-1,0,9,3,4,5,67,78,56]
n=len(y)
for i in range(0,n,2):
  print(y[i])

-1
9
4
67
56

In [48]:
y=[-1,0,9,3,4,5,67,78,56,90]
n=len(y)
for i in range(0,n,3):
  print(y[i])

-1
3
67
90

In [49]:
x=[-1,0,3,4,5,6]
n=len(x)
for i in range(0,n,1):
  if(x[i]%2==0):
    print(x[i])

0
4
6

In [50]:
x=[-1,0,3,4,5,6]
n=len(x)
for i in range(0,n,1):
  if(x[i]%2!=0):
    print(x[i])

-1
3
5

In [52]:
x=[-1,0,3,4,5,6]
n=len(x)
for i in range(0,n,1):
  if (x[i]%2==0):
    print("even",x[i])
  else:
    print("odd",x[i])

odd -1
even 0
odd 3
even 4
odd 5
even 6

In [ ]:
# printing 1 t0 10   even and odd   i
# same cases using array
#x[i]

In [55]:
#   i want to print 30 to 40 30,31,32,33,....40 etc

x=30
y=40
for i in range(30,40,1):
  print(i)

30
31
32
33
34
35
36
37
38
39

In [57]:
x=30
y=40
for i in range(30,40,1):
  if(i==39):
    break
  print(i)

30
31
32
33
34
35
36
37
38

In [58]:
x=30
y=40
for i in range(30,40,1):
  if(i==33):
    break
  print(i)

30
31
32

In [59]:
 # 20 to 45
 # break the loop at 40
 x=20
 y=45    # 20,21,22,......40.........44
 for i in range(20,45,1):
   if(i==40):
     break
   print(i)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [61]:
 x=20
 y=45
 for i in range(x,y,1):
   print(i)  
   if(i==40):
     break

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [63]:

for i in range(20,45,1):
   if(i==41):
     break
   print(i)

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

In [68]:
#  20 to 30
# i want to break 25

for i in range(20,31,1):
  if(i==26):
    break
  print(i)

20
21
22
23
24
25

In [71]:
# 10 to 20
for i in range(10,21,1):
  if(i==17):
    break
  print(i)

10
11
12
13
14
15
16

In [73]:
for i in range(10,21,1):
  if(i==14):
    continue
  print(i)

10
11
12
13
15
16
17
18
19
20

In [75]:
# 45  10 55  

# break at 51   # continue

x=45
y=56
for i in range(x,y,1):
  if(i==52):
    break
  print(i)

45
46
47
48
49
50
51

In [81]:
# 60 to 75
# 69
x=60
y=76
for i in range(x,y,1):
  if(i==69):
    continue
  print(i)

60
61
62
63
64
65
66
67
68
70
71
72
73
74
75

In [83]:
x=60
y=75   # instead of here
for i in range(x,y+1,1):
  if(i==69):
    continue
  print(i)

60
61
62
63
64
65
66
67
68
70
71
72
73
74
75

In [87]:
x=["apple","ball","cat","dog","abc"]
for i in x:   
  print(i)

apple
ball
cat
dog
abc

In [88]:
print(x)

['apple', 'ball', 'cat', 'dog', 'abc']

In [93]:
# abc 123 xyz LMN ANU   x=1 "str" 3.6   x=[1,"str",3.6]  list =array
anusha=["abc","123","xyz","LMN","ANU"]  
for i in anusha:
  print(i)

abc
123
xyz
LMN
ANU

In [91]:
print(my_array)

['abc', '123', 'xyz', 'LMN', 'ANU']

In [94]:
# it should starts with A-Z a-z  _ underscore
# in middle A to Z a-z or numbers or _underscore

anusha=1
_anusha=2


print(anusha)
print(_anusha)

1
2

In [98]:
anu1x=5
print(anu1x)

5

In [99]:
anu_1_xyz=567
print(anu_1_xyz)

567

In [101]:
vaishnavee_1=3
print(vaishnavee_1)

3

In [104]:
_vaishu=5.67
print(_vaishu)

5.67

In [ ]:
#for loops
# some example and break and conti
# array acc
#examples