In [3]:
#tuple

#integers
my_tuple=(1,2,3)  #[]
print(my_tuple)

(1, 2, 3)

In [5]:
#mixed dtypes
my_tuple=(1,3.4,"hello")
print(my_tuple)

(1, 3.4, 'hello')

In [9]:
#tuple packing
my_tuple=3,4.5,6,"anu","hello"
#un packing
a,b,c,d,e=my_tuple
print(a)
print(b)
print(c)
print(d)
print(e)

3
4.5
6
anu
hello

In [12]:
#Acc
my_tuple=("a","n","u","s","h","a")  #n  0-a 1-n .......
print(my_tuple[1])
print(my_tuple[2])
print(my_tuple[4])

n
u
h

In [18]:
#nested tuple
my_name=(1,5,6,(3,4,5),7)  # 0-1 1-5 2-6 3-(3,4,5) 4-7
print(my_name[2])  #0=3 1=4 2=5
print(my_name[3][1])  #2.0

6
4

In [24]:
#neg index
name=(12,1,3,4,5)    # -1=5   -2=4  -3=3  -4=1  -5=12 .....................-8 
# 1 3  4   5
#-4  -3  -2 -1
print(name[-1])
print(name[-2])

5
4

In [26]:
#slice
my_tuple=("an","u","sha","ws1","dsf") # 0=an 1=u 2=sha 3=ws1 4=dsf
print(my_tuple[0:3])

('an', 'u', 'sha')

In [27]:
my_tuple=("an","u","sha","ws1","dsf") # 0=an 1=u 2=sha 3=ws1 4=dsf
print(my_tuple[2:5])

('sha', 'ws1', 'dsf')

In [28]:
my_tuple=("an","u","sha","ws1","dsf") # 0=an 1=u 2=sha 3=ws1 4=dsf
print(my_tuple[1:4])

('u', 'sha', 'ws1')

In [30]:
#immutable we cant change we cant add we cant remove also
#adding
a=(1,2,3)
b=(4,5,6,7)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7)

In [31]:
x=4
y=3
z=x+y
print(z)

7

In [34]:
# x="anu"
# y=1
# z=x+y
# print(z)

In [32]:
x="anu"
y="sha"
z=x+y
print(z)

anusha

In [37]:
#Repeat
my_tuple=(1,2,3)
print(my_tuple*5)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [41]:
x=3
y=6

print(3*6)

18

In [46]:
#del
my_tuple=(1,2,3)
print(my_tuple)
del my_tuple
print("deleted success")
my_tuple=(4,5,6)
print(my_tuple)

(1, 2, 3)
deleted success
(4, 5, 6)

In [54]:
#count
#index
anu=(1,2,4,5,6,7,3,7,6,8,6,4)
print(anu.count(4))

2

In [57]:
anu=(11,21,31,41,61,71)   # 0-11  1=21 2=31 3=41 4=61 5=71
print(anu.index(41))
print(anu.index(71))
print(anu.index(31))

3
5
2

In [58]:
#sets [] list () tuple {} sets
x={1,2,3,4}
print(x)

{1, 2, 3, 4}

In [62]:
x={9,1,2,2,3,4,5,4,7,6,7}
print(x)

{1, 2, 3, 4, 5, 6, 7, 9}

In [64]:
#adding single ele
x={1,3,4}
x.add(5)
print(x)

{1, 3, 4, 5}

In [65]:
#multiple
x={1,4,5,6}
x.update([7,8,4])
print(x)

{1, 4, 5, 6, 7, 8}

In [71]:
#remove
#discard
x={1,2,4,5}
print(x)
x.remove(4)
print(x)
# x.remove(6)
# print(x)

{1, 2, 4, 5}
{1, 2, 5}

In [72]:
x={1,2,4,5}
print(x)
x.discard(4)
print(x)
x.discard(8)
print(x)

{1, 2, 4, 5}
{1, 2, 5}
{1, 2, 5}

In [75]:
x={8,1,4,5,5,6,7}  #{1,4,5,6,7,8}
print(x.pop())
print(x)
print(x.pop())
print(x)

1
{4, 5, 6, 7, 8}
4
{5, 6, 7, 8}

In [76]:
#clear
x={1,2,3}
x.clear()
print(x)

set()

In [ ]:
# A union B
# {1,2,3,4,5}
# {4,5,6,7,8,9}
# A intersection B
# A-B Difference
# Symmetric diff