In [3]:
#set operations
a={1,2,3,4,5}  #{1,2,3,4,5,4,5,6,7,8}
b={4,5,6,7,8} 
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
a={1,2,3,4,5}  #{1,2,3,4,5,4,5,6,7,8}
b={4,5,6,7,8} 
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
a={1,2,3,4,5,10,12}  
b={4,5,6,7,8,10,12}
print(a.intersection(b))

{10, 12, 4, 5}

In [8]:
#difference
a={1,2,3,4,5}   # a-b  {1,2,3}-{,6,7,8}
b={4,5,6,7,8} 
print(a.difference(b))

{1, 2, 3}

In [11]:
#difference
a={1,2,3,4,5,10,11,12}   # a-b  {1,2,3}-{4,5,6,7,8,10,11}
b={4,5,6,7,8,10,11} 
print(a.difference(b))

{1, 2, 3, 12}

In [12]:
#difference
a={1,2,3,4,5,10,11,12}   # a-b  {1,2,3}-{4,5,6,7,8,10,11}
b={4,5,6,7,8,10,11} 
print(b.difference(a))

{8, 6, 7}

In [22]:
#Dict

anusha={
    "name":"Anu",
    "year":1999,
    "id":"R141070"
}
print(anusha)

{'name': 'Anu', 'year': 1999, 'id': 'R141070'}

In [19]:
#Accessing
anusha1={
    "name":"Anu",
    "year":1999,
    "id":"R141065"
}
print(anusha1["year"])

1999

In [23]:
print(anusha1["id"])
print(anusha["id"])

R141065
R141070

In [25]:
mydict={
    "name":"Anu",
    "year":1999,
    "id":"R141065"
}
print(mydict.get("year"))

1999

In [28]:
#changing values
mydict={
    "name":"Anu",
    "year":1999,
    "id":"R141065"
}
mydict["id"]="R141048"
print(mydict)

{'name': 'Anu', 'year': 1999, 'id': 'R141048'}

In [34]:
dict_1={
    "name":"ananya",
    "year":2007,
    "class":8,
    "rollno":31

}
print(dict_1)
print(dict_1["rollno"])
print(dict_1.get("rollno"))
dict_1["class"]=10
print(dict_1)

{'name': 'ananya', 'year': 2007, 'class': 8, 'rollno': 31}
31
31
{'name': 'ananya', 'year': 2007, 'class': 10, 'rollno': 31}

In [37]:
#loop through dict
dict_2={
    "name":"ananya",
    "year":2007,
    "class":8,
    "rollno":31,
    "age":15

}
for x in dict_2:
  print(x)
for x in dict_2:
  print(dict_2[x])

name
year
class
rollno
age
ananya
2007
8
31
15

In [39]:
dict_4={
    "name":"hii",
    "id":123,
    "class":13
}
for x in dict_4.keys():
  print(x)
for x in dict_4.values():
  print(x)

name
id
class
hii
123
13

In [42]:
# keys and values using 2 methods one is loop one is keys() and values()

dict_5={
    "name":"ananya",
    "year":2007,
    "place":"xyz",
    "school":"abc"
}
for x in dict_5:
  print(x)
for i in dict_5:
  print(dict_5[i])

name
year
place
school
ananya
2007
xyz
abc

In [45]:

dict_6={
    "name":"ananya",
    "year":2007,
    "place":"xyz",
    "school":"abc"
}
for x in dict_6.keys():
  print(x)
for x in dict_6.values():
  print(x)

name
year
place
school
ananya
2007
xyz
abc

In [50]:
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123
}
for i,j in dict_7.items():
  print(i,j)

name anu
place xyz
age 123

In [62]:
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123,
  "dfh":346,
  "xyz1":1245
}
# print(len(dict_7))

if "xyz" in dict_7:
   print("yes")
else:
  print("No")

No

In [64]:
#adding items
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123
}
dict_7["color"]="blue"
dict_7["class"]=10
print(dict_7)

{'name': 'anu', 'place': 'xyz', 'age': 123, 'color': 'blue', 'class': 10}

In [66]:
#remove
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123
}
dict_7.pop("place")
print(dict_7)

{'name': 'anu', 'age': 123}

In [70]:
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123
}
print(dict_7)
dict_7["fav"]="apple"
print(dict_7)

{'name': 'anu', 'place': 'xyz', 'age': 123}
{'name': 'anu', 'place': 'xyz', 'age': 123, 'fav': 'apple'}

In [74]:
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
print(dict_7)
dict_7.pop("place")
print(dict_7)

{'name': 'anu', 'place': 'xyz', 'age': 123, 'color': 'blue'}
{'name': 'anu', 'age': 123, 'color': 'blue'}

In [77]:
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
print(dict_7)
dict_7["food"]="maggy"
print(dict_7)
dict_7.pop("age")
print(dict_7)

{'name': 'anu', 'place': 'xyz', 'age': 123, 'color': 'blue'}
{'name': 'anu', 'place': 'xyz', 'age': 123, 'color': 'blue', 'food': 'maggy'}
{'name': 'anu', 'place': 'xyz', 'color': 'blue', 'food': 'maggy'}

In [78]:
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
print(dict_7)
dict_7.clear()
print(dict_7)

{'name': 'anu', 'place': 'xyz', 'age': 123, 'color': 'blue'}
{}

In [79]:
dict_7={
  "name":"anu",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
dict_8=dict_7.copy()
print(dict_8)

{'name': 'anu', 'place': 'xyz', 'age': 123, 'color': 'blue'}

In [81]:
#nested dicts
dict_8={
  "name":"anu",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
dict_9={
  "name":"anu1",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
dict_6={
  "name":"anu2",
  "place":"xyz",
  "age":123,
  "color":"blue"
}

family={
    "first dict":dict_8,
    "sec dict":dict_9,
    "third dict":dict_6
}
print(family)

{'first dict': {'name': 'anu', 'place': 'xyz', 'age': 123, 'color': 'blue'}, 'sec dict': {'name': 'anu1', 'place': 'xyz', 'age': 123, 'color': 'blue'}, 'third dict': {'name': 'anu2', 'place': 'xyz', 'age': 123, 'color': 'blue'}}

In [86]:
dict_2={
  "name":"anu1",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
dict_3={
  "name":"anu2",
  "place":"xyz",
  "age":123,
  "color":"blue"
}
dict_4={
    "name":"vaishnavee",
    "age":234,
    "place":"xyz"
}
anusha={
    "anu1":dict_2,
    "anu2":dict_3,
    "anu3":dict_4
}
print(anusha)

{'anu1': {'name': 'anu1', 'place': 'xyz', 'age': 123, 'color': 'blue'}, 'anu2': {'name': 'anu2', 'place': 'xyz', 'age': 123, 'color': 'blue'}, 'anu3': {'name': 'vaishnavee', 'age': 234, 'place': 'xyz'}}

In [90]:
#using dict

my_dict=dict(name="Anusha",age=123,year=12,color="blue",place="xyz")
print(my_dict)

{'name': 'Anusha', 'age': 123, 'year': 12, 'color': 'blue', 'place': 'xyz'}

In [93]:
#formkeys()
x=('name',"age","color")
y="anu"
my_dict=my_dict.fromkeys(x,y)
print(my_dict)

{'name': 'anu', 'age': 'anu', 'color': 'anu'}

In [99]:
#setdefault
anusha={
    "anu1":"anusha",
    "anu2":"123",
    "anu3":"xyz"    #anu3=abc
}
print(anusha)
x=anusha.setdefault("anu3","abc")
print(anusha)

{'anu1': 'anusha', 'anu2': '123', 'anu3': 'xyz'}
{'anu1': 'anusha', 'anu2': '123', 'anu3': 'xyz'}

In [98]:
anusha={
    "anu1":"anusha",
    "anu2":"123"
}
print(anusha)
x=anusha.setdefault("anu3","abc")
print(anusha)
# print(x)

{'anu1': 'anusha', 'anu2': '123'}
{'anu1': 'anusha', 'anu2': '123', 'anu3': 'abc'}

In [104]:
anusha={
    "anu1":"anusha",
    "anu2":"123"
    
}
print(anusha)
# ayushi 123
x=anusha.setdefault("ayushi",123)
print(anusha)

{'anu1': 'anusha', 'anu2': '123'}
{'anu1': 'anusha', 'anu2': '123', 'ayushi': 123}

In [105]:
anusha={
    "name":"anusha",
    "age":"123"
    
}
x=anusha.setdefault("vaishnavee",234)
print(anusha)

{'name': 'anusha', 'age': '123', 'vaishnavee': 234}

In [ ]:
#creating dict
#changing values
#accessing values
#loop through keys and values
#same using keys and values() functions
#lenght function
#adding 
#removing
#pop
#clear
#copy
#formkeys
#setdefault

In [109]:
anu=(1,2,3,4)
print(anu[-3])

2