In [5]:
#Functions

#creating functions

def my_function():
  print("hello")
  print(2+3)
#calling
my_function()

hello
5

In [6]:
def my_function():
  print("Ayushi")

my_function()

Ayushi

In [7]:
#parameters
def my_function1(name):
  print(name)

my_function1("Anusha")

Anusha

In [8]:
def my_function1(x):
  print(x)

my_function1("Food")

Food

In [10]:
#number of parameters
def my_function2(x,y,z):
  print(x)
  print(y)
  print(z)
  print(x,y,z)

my_function2("anu","anusha","kp")

anu
anusha
kp
anu anusha kp

In [12]:
# 4 parameters and print all those
def shriya(w,x,y,z):
  print(w)
  print(x)
  print(y)
  print(z)
shriya("class",10,11,34.67)

class
10
11
34.67

In [17]:
#arbitary arguments
#0="anu",1="kp", 2="apple",3="orange" 4=blue
#name=[anu,kp,apple,orange,blue]
def my_function(*name):
   print(name[0])
   print(name[1])
   print(name[2])
   print(name[3])
   print(name[-2])

my_function("anu","kp","apple","orange","blue")

anu
kp
apple
orange
orange

In [21]:
# apple blue red school  key
def my_function(*shriya):
   print(shriya[0])
   print(shriya[1])
   print(shriya[2])
   print(shriya[3])
   print(shriya[4])
my_function("apple","blue","red","school","key")

apple
blue
red
school
key

In [22]:
#keyword arguments
def anusha(x,y,z):
   print(x)
   print(y)
   print(z)
anusha(y=3,x=10,z=25)

10
3
25

In [23]:
# a=25 b=35 c=67
 
def ayushi(a,b,c):
  print(a)
  print(b)
  print(c)

ayushi(a=25,b=35,c=67)

25
35
67

In [31]:
# 6 and 7
def ayushi(x,y):
  print(x,y)
  if(x%2==0):
    print(x)
    print("yes it is even")
    print(x,"yes it is even")
  else:
    print("No it is odd")
  if(y%2==0):
    print("yes it is even")
  else:
    print(y)
    print("No it is odd")
ayushi(6,7)

6 7
6
yes it is even
6 yes it is even
7
No it is odd

In [37]:
#passing list as an argument
#food=["apple","orange","cherry"]
def my_function(food):
    print(food)
y=["apple","orange","cherry"]
my_function(y)

['apple', 'orange', 'cherry']

In [38]:
def my_function(food):
    for x in food:
      print(x)
y=["apple","orange","cherry"]
my_function(y)

apple
orange
cherry

In [43]:
#create one list and pass that into function 
# function name is kp
# get the list vales and print one by one or else print as a list
def kp(ayushi):
   print(ayushi)
   for anu in ayushi:  #["ayushi","class8","lemon"]
     print(anu)
g=["ayushi","class8","lemon"]
kp(g)

['ayushi', 'class8', 'lemon']
ayushi
class8
lemon

In [46]:
#return
def calculate(x,y):
    return x+y  #22

z=calculate(10,12) #22
print(z)

22

In [47]:
# calculate sum of 23+24-67

def calculate(x,y,z):
  return x+y-z

z=calculate(23,24,67)
print(z)

-20

In [54]:
#deafult parameter value
#house="abc"
#house="ABC"
def anusha(house="XYZ"):
    print(house)

anusha("abc")
anusha("ABC")
anusha()

abc
ABC
XYZ

In [60]:
#create a function whith sum of the values
#  1 and 5   20 to 35
# 1+2+3+4+5
# return that value in k variable

def sum(start,end):
  sum=0
  #start 1
  #end 6    1<6
  while(start<end):
      sum=sum+start   #0+1+2+3+4+5   6<6
      start=start+1
  return sum

k=sum(1,6)   #15
print(k)

15

In [62]:
def sum(start,end):
  sum=0
  while(start<end):
    sum=sum+start
    start=start+1

  return sum
k=sum(20,36)
print(k)

440

In [ ]:
#creating functions   def
#calling function
#passing parameters
#more no of parameters
#arbitary arguments * like list
#key word arguments  a=23 b=34 c=78

#default parameter value

#passing list as a parameter
#returning the value