In [ ]:
#datetime module 
import datetime
x=datetime.datetime.now()  #current date
print(x)

2020-10-27 02:04:43.909178

In [ ]:
import datetime
x=datetime.datetime.now()
print(x.year)

2020

In [ ]:
import datetime
x=datetime.datetime.now()
print(x.month)

10

In [ ]:
import datetime
x=datetime.datetime.now()
print(x.day)

27

In [ ]:
import datetime
x=datetime.datetime.now()
print(x.minute)
print(x.second)
print(x.hour)

47
54
2

In [ ]:
import datetime
import pytz

x=datetime.datetime.now(tz=pytz.timezone('Asia/Kolkata'))
print(x)
print(x.year)
print(x.month)
print(x.day)
print(x.hour)
print(x.minute)
print(x.second)

2020-10-27 08:18:46.023074+05:30
2020
10
27
8
18
46

In [ ]:
import datetime
import pytz
y=datetime.datetime.now(tz=pytz.timezone('Asia/Kolkata'))
print(y)
#short form of weekday
print(y.strftime("%a"))
#full form of weekday
print(y.strftime("%A"))
print(y.strftime("%b"))
print(y.strftime("%B"))
print(y.strftime("%y"))

2020-10-27 08:02:59.198335+05:30
Tue
Tuesday
Oct
October
20

In [ ]:
print(y.strftime("%w"))  #    #0 sun 1-mon 2-tue 3-wed 4 thu 5 fri 6-sat  #53    365 366   
print(y.strftime("%U"))
print(y.strftime("%j"))

2
43
301

In [ ]:
print(y.strftime("%d"))
print(y.strftime("%m"))
print(y.strftime("%y"))
print(y.strftime("%Y"))  #y.year or %Y
   #1-31 / 1=30  x.day

27
10
20
2020

In [ ]:
print(y.strftime("%H"))
print(y.strftime("%M"))
print(y.strftime("%S"))
print(y.strftime("%f"))

08
02
59
198335

In [ ]:
#year month date
#2020 10 27
import datetime
import pytz
x=datetime.datetime.now(tz=pytz.timezone("Asia/Kolkata"))
print(x)
print(x.strftime("%Y"))
print(x.strftime("%m"))
print(x.strftime("%d"))

2020-10-27 08:23:04.296182+05:30
2020
10
27

In [ ]:
print(x.strftime("%x"))  #local version of date
print(x.strftime("%X"))   #local version of time
print(x.strftime("%c"))   #local version of time and date

10/27/20
08:13:43
Tue Oct 27 08:13:43 2020

In [ ]:
#get input from user
x=input()
print("output",x)

Anusha
output Anusha

In [ ]:
# 84
#check even or not
x=input()  #84 string
x=int(x)    #converting to int
if(x%2==0):
  print(x,"is even number")
else:
  print("x, is odd number")
  print(x,"is odd number")

77
x, is odd number
77 is odd number

In [ ]:
x=input()
print(x)

["anu","xyz"]
["anu","xyz"]

In [ ]:
# ["xyz","abc","apple","food"]
# xyz
# abc
# apple
# food
x=input()
print(x)
# for word in x:
#   print(word)

["xyz","abc","apple","food"]
["xyz","abc","apple","food"]

In [ ]:
x=input()
y=input()
print(x,y)

23
34
23 34

In [ ]:
# 3 inputs and print that number if it is even

x=input()  #string
x=int(x)
if(x%2==0):  
  print(x)
y=input()
y=int(y)
if(y%2==0):
  print(y)
z=input()
z=int(z)
if(z%2==0):
  print(z)

34
34
67
88
88

In [ ]:
#5 inputs from user and add finally print the sum   23+34+56+76+67=sum

x=input()
x=int(x)

y=input()
y=int(y)

z=input()
z=int(z)

k=input()
k=int(k)

m=input()
m=int(m)

sum=x+y+z+k+m

print(sum)

34
45
23
56
23
181

In [ ]:
#   45*34*67-34/56
x=input()
y=input()
z=input()
k=input()
m=input()

x=int(x)
y=int(y)
z=int(z)
k=int(k)
m=int(m)

cal=x*y*z-k/m
print(cal)

23
67
76
45
34
117114.67647058824

In [ ]:
#take 2 val from user find diff then check  it is positive or neg zero
#45-35 =10 positive
#35-45 =-10 neg
#45-45 =0 zero

x=input()
y=input()
x=int(x)
y=int(y)

#10>0   -10<0  0=0
z=x-y  
if(z>0):
  print("positive")
elif (z<0):
  print("negative")
else:
  print("zero")

45
45
zero

In [ ]:
x=input()  #45
y=input()  #35
x=int(x)   #45
y=int(y)  #35

def calculate_diff(a,b):  # a=x b=y  #a=45 b=35
   z=a-b  #10>0 -10<0  0==0
   if(z>0):
      print("positive")
   elif (z<0):
      print("negative")
   else:
      print("zero")

calculate_diff(x,y) #45 35  as

35
5
positive