In [69]:
# Type casting
# converting int to float type
# int  numbers      float decimal points 4.0 strings ''

# int() float() str()
# type()

g=4
print(x)
print(type(x))   # 4

y=float(g)   # 4.0 =y
print(y)
print(type(y))  

# y=str(z)
# print(y)
# print(type(y)) #  '4' or "4"

# s=4.5  #float 
# print(s)
# print(type(s))
# r=int(s)
# print(r)
# print(type(r))

# w=str(s)
# print(w)
# print(type(w))

# g='3' #str
# print(g)
# print(type(g))
# b=int(g)
# print(b)
# print(type(b))

# h=float(g)
# print(h)
# print(type(h))

4
<class 'int'>
4.0
<class 'float'>

In [58]:
#Strings
a="anu"
b='anusha'
print(a)
print(b)
  # ''' for multiple lines
c=""" anusha
      i am from 
      class is at"""
print(c)

c="anushav b"
# #    0=a 1=n 2=u 3=s 4=h 5=a
# #   0=a 1=n 2=u 3=s 4=h 5=a 6=v 7=    8=b
# print(c[0])
# print(c[0:9])

#negative indexing
c="anushav b"
#-9=a -8=n -7=u -6=s -5=h -4=a -3=v -2=    -1=b

# print(c[-5:-9:1])

print(c[0])  #0:9:1  012345      0:9:2  02468   0:9:3  0,3,6
print(c[0:9:3])
print(c[9:0:-2])

a
asv
bvhu

In [67]:
a="anusha #anusha anu"  #index= 012345  len=based on string
print(len(a))

18

In [78]:
x=4
print(x)
print(type(x))

y=str(4.6)
print(y)
print(type(y))

4
<class 'int'>
4.6
<class 'str'>

In [95]:
#Methods

#strip
#lower'
#upper method
#replace
#split

j="Anusha/anu "
print(j)
# f=j.strip()
# print(f)

# h=j.upper()
# print(h)

l=j.lower()
print(l)

k=j.replace("A","O")
print(k)

i=j.split("/")
print(i)

Anusha/anu
anusha/anu
Onusha/anu
['Anusha', 'anu']